# NextAuth
AUTH_SECRET=your_secret_here   # run: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000

# Backend URL (Express server)
BACKEND_URL=http://localhost:5001
NEXT_PUBLIC_BACKEND_URL=http://localhost:5001
